.feature {
    display: flex; 
    justify-content: center;
    height: 100%;
    margin: 20px;
}

.flex-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: left;
    margin: 15px;
}

.flex-item{
    background-color: #fcefdc;
    border: 2px solid #5e3901;
    border-radius: 30px;
    box-shadow: #5e3901 8px 8px 1px 1px;
    color: #5e3901;
    font-weight: 600;
    padding: 20px 45px;
    line-height: 50px;
    color: #7CA871;
    display: flex;
    margin: 10px;
    width: 70vw;
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    height: 100%;
    margin: 10px;

}
.right-box{
    display: flex;
    flex-direction: row;
    background-color: #5e3901;
    width: 48%;
    height: 100%;

}

.upper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48%;
}

.lower{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 48%;
}

.circle {
    display: flex;
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}
.profile-picture img {
    border-radius: 50%;
}

.name-text{
    justify-content: center;
    color: #c6618b;
    font-size: 40px;
    margin: 10px;
    font-weight: 700;
    font-style: normal;

}

.bio-text {
    color: #c6618b;
}
.link-text {
    font-size: 20px;

}